---
import HeroSection from "../components/HeroSection.astro";
import LandinHeader from "../components/LandinHeader.astro";
import Modely from "../components/Modely.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tesla - el coche de tus sueños">
  <LandinHeader />
  <main
    class="relative h-screen w-full snap-y snap-mandatory overflow-auto scroll-smooth"
  >
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <Modely />
    </div>
  </main>
</Layout>
<script>
  const $landinHeader = document.querySelector(
    "#landing-header"
  ) as HTMLElement;
  const observerObtions = {
    root: null,
    rootMargin: "0px",
    threshold: 0.9,
  };
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      const { isIntersecting } = entry; // intersecion
      if (isIntersecting) {
        const color = entry.target.getAttribute("data-header-color");
        $landinHeader.style.color = color;
        console.log($landinHeader);
      }
    });
  }, observerObtions);

  const $Sections = document.querySelectorAll(".section");
  $Sections.forEach((section) => observer.observe(section));
</script>
