<section
  class="section relative z-30 h-screen w-full overflow-hidden bg-black text-center"
  data-header-color="white"
>
  <div class="relative z-30 flex h-full flex-col">
    <header class="pt-40">
      <h2 class="text-[40px] font-medium text-white">Disfrute de tesla</h2>
      <p class="text-sm text-white">
        programa una prueba de conducciçon hoy mismo
      </p>
    </header>
    <footer class="flex flex-grow flex-col flex-nowrap justify-end pb-20">
      <div>
        <a
          href="#"
          class="rounded border-[3px] border-white bg-white/5 px-12 py-2 text-sm font-medium text-white backdrop-blur-lg transition-colors hover:bg-white hover:text-black"
        >
          Prueba de conducción</a
        >
      </div>
    </footer>
  </div>
  <div class="absolute bottom-0 top-0 z-10 h-full w-full">
    <video
      class="h-full w-full object-cover"
      src="/public/video.webm"
      autoplay
      muted
      loop></video>
  </div>
</section>
