<section
  class="section relative z-30 h-screen w-full overflow-hidden bg-black text-center"
  data-header-color="black"
>
  <div class="relative z-30 flex h-full flex-col">
    <header class="pt-40">
      <h2 class="text-[40px] font-medium text-gray-900">Model Y</h2>
      <p class="text-sm text-gray-900 underline">
        Concertar una prueba de conducción
      </p>
    </header>
    <footer class="flex flex-grow flex-col flex-nowrap justify-end pb-20">
      <div class="flex flex-wrap justify-center gap-2">
        <a
          href="#"
          class="rounded border-[3px] border-gray-900 bg-gray-900 px-12 py-2 text-sm font-medium text-white backdrop-blur-lg transition-colors hover:border-white hover:bg-white hover:text-gray-900"
        >
          Explorar Inventario</a
        >
        <a
          href="#"
          class="rounded border-[3px] border-white bg-white/5 px-12 py-2 text-sm font-medium text-gray-900 backdrop-blur-lg transition-colors hover:bg-white hover:text-black"
        >
          Pedido Personalizado</a
        >
      </div>
    </footer>
  </div>
  <div class="absolute bottom-0 top-0 z-10 h-full w-full">
    <img
      class="h-full w-full object-cover object-center"
      src="/public/Modely.avif"
      alt="Model y"
    />
  </div>
</section>
